# Virtual Environment
venv/
predictive_maintainance_venv/
env/
.venv/
ENV/

# Python cache
__pycache__/
*.pyc

# Dataset
data/

# Models
models/

# Environment variables
.env

# OS metadata
.DS_Store
Thumbs.db
desktop.ini